<!DOCTYPE html>
<html>
  <head>
    <title>ActiveStorage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/421bc9e4ef.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="container alert <%= flash.alert ? "alert-danger" : "alert-success" %> w-50 my-5">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  </body>
</html>
